* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Mono', monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'input output'
    'botao .';
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;
}

.input {
  display: grid;
  justify-items: center;
}

.input-area,
.output-area {
  border: 2px solid black;
  resize: none;
  width: 100%;
  margin-top: 15px;
  font-size: 1rem;
}

.input h1,
.output h1,
.gerador-script h1 {
  margin-top: 20px;
  text-align: center;
}

.btn {
  margin-top: 20px;
  background-color: #4b42f5;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 3px 5px 5px black;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #211c80;
}

/*  ------------ GERADOR DE SCRIPT --------------- */

.container-gerador {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'titulo titulo'
    'label-script .'
    'selecionar-script resultado-script'
    'opcoes-nfce-pendente .';
  align-content: start;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.titulo-script {
  text-align: center;
  grid-area: titulo;
  display: block;
  margin: 30px 30px;
}

#selecionar-script {
  grid-area: selecionar-script;
  width: 50%;
  margin-top: 10px;
}

.resultado-script {
  grid-area: resultado-script;
}

.opcoes-nfce-pendente {
  grid-area: opcoes-nfce-pendente;
  margin-top: 10px;
}
